venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

backend/.env
*.db

# Ignore fixtures folder
fixtures/

# Frontend dependencies and build outputs
frontend/node_modules/
frontend/dist/
frontend/.cache/

.vscode/
.idea/
.DS_Store
Thumbs.db
.cache/
